@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #373a3c;
}

.container {
  width: 100%;
  height: 100%;
}

/* ===== SIDEBAR STYLING START ===== */

.sidebar {
  background: #006599;
  height: 100vh;
  width: 30%;
  float: left;
  color: white;
  text-align: center;
  position: fixed;
}

.sidebar-header {
  margin: 35px 0;
}

.sidebar-header h1 {
  margin-top: 7px;
  font-weight: 400;
  font-size: 38px;
  text-transform: capitalize;
}

.sidebar-body-list {
  list-style-type: none;
}

.sidebar-body-list li {
  margin: 35px;
}

.sidebar-body-list li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 300;
  text-transform: capitalize;
}

.sidebar-body-list li a:hover {
  color: #f4ef5e;
}

/* ===== SIDEBAR STYLING END ===== */

/* ===== CONTENT-HEADER STYLING START ===== */
.content {
  margin-left: 30%;
}

.content .content-header > img {
  width: 100%;
}
/* ===== CONTENT-HEADER STYLING END ===== */

/* ===== CONTENT-WELCOME STYLING START ===== */
.content-welcome {
  margin: 50px 50px 80px;
}

.content-welcome h2 {
  font-weight: 400;
  color: #006599;
  font-size: 3rem;
  margin-bottom: 40px;
}

.content-welcome p {
  line-height: 2;
  font-weight: 300;
  font-size: 20px;
}
/* ===== CONTENT-WELCOME STYLING END ===== */

/* ===== CONTENT-ABOUT STYLING START ===== */
.content-about {
  margin: 50px 50px 80px;
}

.content-about-image {
  float: left;
  margin-right: 50px;
  width: 250px;
}

.content-about-image > img {
  width: 100%;
}

.content-about-info h3 {
  font-weight: 400;
  color: #006599;
  font-size: 2rem;
  margin-bottom: 40px;
}

.content-about-info p {
  line-height: 2;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 20px;
}

.content-about-info a {
  margin-left: 300px;
  text-decoration: none;
  background: #006599;
  color: #fff;
  padding: 20px 60px;
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
}

.content-about-info a:hover {
  background-color: #2790c6;
}
/* ===== CONTENT-ABOUT STYLING END ===== */

/* ===== CONTENT-FIRST_GALLERY STYLING START ===== */
.first-gallery {
  margin: 50px 50px 80px;
}

.first-gallery h3 {
  font-weight: 400;
  color: #006599;
  font-size: 2rem;
  margin-bottom: 40px;
}

.first-gallery .first-gallery-column {
  float: left;
  width: 20%;
  padding: 8px;
}

.first-gallery .first-gallery-column img {
  width: 100%;
}
/* ===== CONTENT-FIRST_GALLERY STYLING END ===== */

/* ===== CONTENT-SECOND_GALLERY STYLING START ===== */
.second-gallery {
  margin: 50px 50px 80px;
}

.second-gallery h3 {
  font-weight: 400;
  color: #006599;
  font-size: 2rem;
  margin-bottom: 40px;
}

.second-gallery .second-gallery-column {
  float: left;
  width: 33.33%;
  padding: 8px;
}

.second-gallery .second-gallery-column img {
  width: 100%;
}
/* ===== CONTENT-SECOND_GALLERY STYLING END ===== */

/* ===== CONTENT-THIRD_GALLERY STYLING START ===== */
.third-gallery {
  margin: 50px 50px 80px;
}

.third-gallery h3 {
  font-weight: 400;
  color: #006599;
  font-size: 2rem;
  margin-bottom: 40px;
}

.third-gallery .third-gallery-column {
  float: left;
  width: 25%;
  padding: 8px;
}

.third-gallery .third-gallery-column img {
  width: 100%;
}
/* ===== CONTENT-THIRD_GALLERY STYLING END ===== */

/* ===== CONTENT CONTACT STYLING START ===== */
.content-contact {
  margin: 50px 50px 80px;
}

.content-contact h3 {
  font-weight: 400;
  color: #006599;
  font-size: 2rem;
  margin-bottom: 40px;
}

.contact-form {
  float: left;
  width: 50%;
  margin-right: 30px;
}

.contact-form .form-group {
  margin-bottom: 12px;
}

.contact-form input {
  height: 45px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid#0a6697;
  outline: 0;
  font-size: 24px;
  font-weight: 300;
  color: #55595c;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #4286ab;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #66afe9;
}

.form-group button {
  color: white;
  background: #006599;
  border: 0;
  padding: 18px 35px;
  font-size: 24px;
  font-weight: 300;
}

.form-group button:hover {
  background: #2790c6;
  cursor: pointer;
}

.content-info p {
  margin-bottom: 16px;
}

.content-info p,
.content-info address {
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
}


/* ===== CONTENT CONTACT STYLING END ===== */

/* ===== CONTENT FOOTER STYLING START ===== */

/* ===== CONTENT FOOTER STYLING END ===== */
.footer {
  margin: 50px 50px 40px;
}

.footer p {
  font-weight: 300;
  font-size: 20px;
}

.footer p a {
  text-decoration: none;
  color: #0275d8;
}

.footer p a:hover {
  color: #014c8c;
}
